<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css"
    />

    <style>
      body {
        margin: 0 auto 40px auto;
        max-width: 850px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
      }

      a,
      a:visited {
        text-decoration: none;
        color: #3498db;
      }

      a:hover,
      a:focus,
      a:active {
        color: #2980b9;
      }

      h1 {
        font-size: 3em;
      }

      @media (max-width: 600px) {
        h1 {
          font-size: 2em;
        }
      }

      h1,
      h2,
      h3 {
        line-height: 1.2;
      }

      h2,
      h3,
      h4 {
        margin: 2em auto 0 auto;
      }

      blockquote {
        border-left: 5px solid #333;
        padding-left: 0.75em;
        margin-left: calc(0.25em - 5px);
        font-style: italic;
      }

      pre {
        overflow: auto;

        margin: 0.75rem 0;
        padding: 0.5rem;

        white-space: pre;

        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      code {
        padding: 0 0.25em;
        font-size: 0.875em;

        white-space: pre-wrap;
        font-family: Source Code Pro, monospace;

        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      pre code,
      pre tt,
      code.hljs {
        background-color: transparent;
        border: none;
        word-wrap: normal;
        white-space: pre;
        display: block;
        overflow-x: auto;
        padding: 1em;
      }
    </style>
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
