---
layout: layout.njk
---

<h4>Syhol's Deno Std Review</h4>
<h1>{{ title | title }}</h1>
<hr />
<a href="/"
  ><span style="font-size: 25px; line-height: 0">&#171; </span>Table of
  Contents</a
>
<hr />
{{ content | safe }}
<hr />
<a href="/"
  ><span style="font-size: 25px; line-height: 0">&#171; </span>Table of
  Contents</a
>
