---
layout: layout.njk
title: "Syhol's Deno Std Review"
---

<h1>{{ title | title }}</h1>

<p>Welcome to Syhol's Deno Std Review</p>

<ul>
  {% for post in search.pages("post") %}
  <li><a href="{{ post.data.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>
