---
layout: layout.njk
---

<a href="/"><span style="font-size: 25px;">↜ </span>Table of Contents</a>
<hr>
{{ content | safe }}
<hr>
<a href="/"><span style="font-size: 25px;">↜ </span>Table of Contents</a>